<div class="container">
    <nav class="navbar navbar-default container-fluid col-md-8 col-md-offset-2" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" routerLink="/listEmployees">Funcionários</a></li>
                <li class="active"><a href="#" routerLink="/listDepartments">Departamentos</a></li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>